footer{
    background: linear-gradient(90deg, #05386B, #021222);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black;
    margin-top: 5px;
    height: 100%;
    line-height: 50px;
    max-width: 100%;

    p {
        font-size: 14px;
    }
}