body, input, button, textarea {
    font: 400 16px 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: #333333 !important;
    // background: #5CDB95;
}

a {
    text-decoration: none;
    color: inherit;
}