main {
    .banner {
        background: linear-gradient(90deg, #05386B, #021222);
        padding-top: 130px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;


        .contain {
            font-family: 'Lobster', cursive;
            max-width: 960px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            h1 {
                margin: 0 0 10px 0;
                font-size: 40px;
                font-weight: bold;
                line-height: 35px;
                color: #ffae26;
            }

            h2 {
                color: #b7b7b7;
                margin-bottom: 20px;
                font-size: 24px;
            }

            .col {
                flex: 0 0 50%;
                max-width: 50%;
            }

            img {
                max-width: 100%;
                height: auto;
                animation: up-down 2s ease-in-out infinite alternate-reverse both;

                @-webkit-keyframes up-down {
                    0% {
                        transform: translateY(10px);
                    }

                    100% {
                        transform: translateY(-10px);
                    }
                }

                @keyframes up-down {
                    0% {
                        transform: translateY(10px);
                    }

                    100% {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
}



.cards {
    flex: 0 0 100%;
    max-width: 70%;
    margin: 2% 15%;

    img{
        align-items: center;
        display: flex;
        vertical-align: middle;
        border-style: none;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .px-22 {
            padding-left: 25px;
            padding-right: 25px;
            margin: 20px 0px;
            width: 90%;
        }

        @media (min-width: 768px){
            .col-md-4 {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
    }

    .prevention-card {
        background: #FFFFFF;
        box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.10);
        border-radius: 25px;
        border: none;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        transform: scale(1);
        transition: all 200ms linear 0s;
        cursor: pointer;

        .img-fluid{
            max-width: 100%;
            height: auto;
        }

        .img-2{
            margin: auto;
            max-width: 60%;
            height: auto;
        }

        .card-detail{
            padding-top: 19px;

            .card-title{
                text-align: center;
                margin: 2px;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                color: #333333;
            }

            .card-line{
                text-indent: 0;
                text-align: left;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.01em;
                color: #000;
            }
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}


#page-home {
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    max-width: 960px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.10);
    align-items: center;
    scroll-behavior: smooth;
    }



    section {
        display: flex;
        flex-direction: column;
        padding: 16px 48px;
        text-align: left;
        align-items: center;
        
        .history-title{
            padding: 5px;
            background: #D4E6F1;
            border-radius: 10px 10px 0 0 ;
            border-bottom: 2px solid #05386B;
            margin: 8px;
        }

        a{
            text-decoration: none;
        }

        p {
            font-family: 'Nunito Sans', sans-serif;
            text-indent: 3ch;
            margin-bottom: 5px;
            line-height: 150%;
        }
    }


    .img-text {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            width: 75%;
            height: 75%;
            margin-top: 15px;
            margin-bottom: 20px
        }

        p {
            font-family: 'Nunito Sans', sans-serif;
            margin-top: 10px;
            margin-bottom: 15px;
            text-indent: 0;
        }
    }


@media screen and (max-width: 990px) {
    main {
        .banner {
            padding-top: 130px;
            display: block;

            .contain {
                display: block;

                .col:nth-child(1) {
                    margin: 20px;
                }

                .col {
                    flex: auto;
                    max-width: none;

                    h1 {
                        font-size: 28px;
                        margin: 0;
                    }

                    img {
                        max-width: 65%;
                        margin: auto;
                        display: block;
                    }
                }
            }
        }

        a {
            word-break: break-all;
        }
    }
}