main {
    .banner {
        background: linear-gradient(90deg, #05386B, #021222);
        padding-top: 130px;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;


        .contain {
            max-width: 960px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            h1 {
                margin: 0 0 10px 0;
                font-size: 40px;
                font-weight: bold;
                line-height: 35px;
                color: #ffae26;
            }

            h2 {
                color: #b7b7b7;
                margin-bottom: 20px;
                font-size: 24px;
            }

            .col {
                flex: 0 0 50%;
                max-width: 50%;
            }

            img {
                max-width: 100%;
                height: auto;
                animation: up-down 2s ease-in-out infinite alternate-reverse both;

                @-webkit-keyframes up-down {
                    0% {
                        transform: translateY(10px);
                    }

                    100% {
                        transform: translateY(-10px);
                    }
                }

                @keyframes up-down {
                    0% {
                        transform: translateY(10px);
                    }

                    100% {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
}

#page-home {
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    max-width: 960px;
    margin: auto ;
    border-radius: 20px;
    box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.10);

    main {
        h2 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 16px 48px;
        text-align: justify;
        align-items: center;


        strong {
            font: 700 32px 'Quicksand', sans-serif;
            margin-bottom: 20px;
        }

        p {
            font: 400 20px 'Quicksand', sans-serif;
            text-indent: 3ch;
            margin-bottom: 5px;
        }
    }


    .img-text {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            width: 75%;
            height: 75%;
            margin-top: 15px;
            margin-bottom: 20px
        }

        p {
            font: 400 16px 'Quicksand', sans-serif;
            margin-top: 10px;
            margin-bottom: 15px;
            text-indent: 0;
        }
    }
}

@media screen and (max-width: 990px) {
    main {
        .banner {
            padding-top: 0px;

            .contain {
                .col:nth-child(1) {
                    order: 2;
                    margin: 20px;
                }

                .col:nth-child(2) {
                    order: 1;
                }

                .col {
                    flex: auto;
                    max-width: none;

                    :nth-child(1) {
                        order: 2;
                    }

                    img {
                        max-width: 80%;
                        margin: auto;
                        display: block;
                    }
                }
            }
        }

        a {
            word-break: break-all;
        }
    }
}