#component-menuVaccines {
    display: flex;
    background: linear-gradient(90deg, #05386B, #021222);
    // padding: 120px;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 150px ;

    .contain {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        line-height: 20px;

        @media screen and (max-width: 960px) {
            padding: 15px;
            text-align: center;
        }

        nav {
            position: relative;
            display: flex;
            padding: 5px;

            @media screen and (max-width: 960px) {
                flex-wrap: wrap;
                justify-content: center;
            }

        }

        li {
            display: flex;
            flex-direction: column;
            padding: 0px 15px;
            justify-content: center;
            align-items: center;
            transition: all 200ms linear 0s;
            text-decoration: none;
            color: #fff;
            


            p {
                font-weight: 500;
                padding: 0px;
                transition: all 80ms linear 0s;
                border-bottom: 0px solid #ffae26 ;
            }

            img {
                position: flex;
                width: 30px;
                opacity: 0;
                margin-top: 20px;
                transition: all 80ms linear 0s;
            }


            &:hover img {
                opacity: 1;
                margin-top: 10px;
            }
            &:hover p {
                border-bottom: 2px solid #ffae26 ;
            }
        }
    }

}