#page-vaccines {
    display: flex;
    padding: 0 210px;
    margin-bottom: 100px;

    main {
        display: flex;
        flex-direction: column;
        text-align: justify;

        strong {
            margin-bottom: 20px;
            margin-top: 20px;
            font: 700 28px 'Quicksand', sans-serif;
            text-decoration: underline;
        }

        img {
            width: 100%;
            height: 75%;
            margin-top: 15px;
            margin-bottom: 20px
        }

        p {
            margin-bottom: 20px;
            font: 400 22px 'Quicksand', sans-serif;
        }

        ul {
            li{
                margin-bottom: 10px;
                font: 400 22px 'Quicksand', sans-serif;
            }
        }
    }
}